@import url('https://fonts.googleapis.com/css?family=Open+Sans:600|Roboto');

#heatmap,
#circles {
  width: 85vw;
  height: 85vw;
  margin: auto;
  clear:both;
  border: 3px solid #000;
}
#heatmap {
  border-radius:50%; 
  max-height:550px;
  max-width:550px;
}
#logos {
  margin-bottom:15px;
}
nav ul {
  width:100%;
  display:flex;
  flex-direction: row;
  list-style-type: disc;
  padding:0;
  margin:0;
}
nav li {
  display:inline-block;
  width:50%;
  font-family: 'Open Sans', sans-serif;
  font-size:1rem;
  text-align: center;

}
nav li a {
  padding-bottom:3px;
  color: #fff;
  text-decoration: none;
  text-shadow:
  -1px -1px 0 #585958,
  1px -1px 0 #585958,
  -1px 1px 0 #585958,
  1px 1px 0 #585958;
}
.active {
  border-bottom: 3px solid #000;
}
#circles {
  max-height:800px;
  max-width:850px;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #cee7f2;
}
header {
  width: 85%;
  max-width:850px;
  margin: 1.25% auto 5%;
}
.left {
  float:left;
}
.right {
  float:right;
}
.left, .right {
  width: 15%;
  max-width: 150px;
}
.center {
  text-align: center;
}
.main-heading {
  font-family: 'Open Sans', sans-serif;
  width:65%;
  font-size: 1.25rem;
  margin: 5% auto 3.5%;
  text-align: center;
  display: inline-block;

}
footer {
  font-family: 'Roboto', sans-serif;
  font-size: .75rem;
  height: 150px;
  width:85%;
  margin:1.5% auto 5%
}
@media screen and (min-width:500px) {
  nav li {
    font-size:1.5rem;
  }
  footer {
    font-size: 1rem;
  }
}
@media screen and (min-width:615px) {
  .main-heading {
    font-size: 1.75rem;
  }
  #circles {
    height:60vh;
  }
}
@media screen and (min-width:715px) {
  footer {
    margin-top:3.5%;
  }
  header {
    margin-bottom: 2.5%;
  }
}
@media screen and (min-width:765px) {
  .main-heading {
    font-size: 2.25rem;
    width:75%;
    margin: 2.5% auto;
  }
  .left, .right {
    width: 10%;
  }
}